/*@import url('https://fonts.googleapis.com/css?family=osefin+Sans:300,400');*/


body{
  /*background-color: #2d2d2d;*/
  /*background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");*/
  /*color: #2d2d2d;

  /*font-family: 'Josefin Sans', sans-serif;*/
  color: white;
  font-family: 'futura';
  position: relative;
  height:100vh;
  width: 100vw;
}


/*helper for add a space between elements*/
.spacer{
  height:10vmin;
  width: 100%;
}

/*background container*/
.background{
  position: absolute;
  z-index: 0;
  width:100%;
  height:100%;
}

/*overlay for bg*/
.overlay {

  /*background: -webkit-linear-gradient(45deg, rgba(164,33,160,0.6) 0%, rgba(68,60,191,0.6) 100%); */
  /*background: linear-gradient(45deg, rgba(164,33,160,0.6) 0%, rgba(68,60,191,0.6) 100%); */
  background: linear-gradient(45deg, rgba(125, 75, 219, 0.6) 0%, rgba(236, 88, 231, 0.4) 100%); /* w3c */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  /*background-size: 400% 400%;
  animation: animateBG 30s ease infinite;*/
}

/*@keyframes animateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/

/*backgroud album cover*/
.bg-album-cover,
.bg-album-cover--next{
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: 4;
  opacity: 0.6;
}

.bg-album-cover--next {
  right: 0;
}

/*header styles*/
header .logo{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
}


/*album cover main styles*/
#current-song{
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 20rem;
}

#current-song .album-cover{
  width: 20em;
  height: 20em;
  max-height: 300px;
  max-width: 300px;
  margin: 4em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(4px 10px 10px rgba(5,0,0,0.7));
}

#current-song .song-title{

}

/*playlist styles*/

#playlist{

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: center;
}

.request{
  width: 3em;
  height: 3em;


  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  z-index: 20;
  background-position: center;
  margin-right: 2em;
}

.request:hover.request::before,
.request:hover.request::after {
  opacity: 1;
}

.request:hover.request::before{
  top: -40px;
}

.request:hover.request::after{
  top: 30px;
}


.request::before{
  content:attr(data-track-title);
  top: -20px;


}

.request::after{
  content: attr(data-username);
  top: 20px;
}

.request::before,
.request::after{
  position: relative;
  /*color: white;*/
  color: #a64ee8;
  /*background-color: #a64ee8;*/
  background-color: white;
  padding: 0.6em 2em;
  border-radius: 25px;
  white-space: nowrap;
  letter-spacing: 0.2em;
  text-transform: lowercase;
  font-size: 0.7em;
  opacity: 0;
  /*-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  transition: all .3s ease;
}
